[buildout]
develop = .
extends = versions.cfg
versions = versions
show-picked-versions = false
parts = scripts
        test
        readme

[scripts]
recipe = zc.recipe.egg:script
interpreter = py
eggs = knx
       ipython
       wheel
       docutils

[readme]
recipe = collective.recipe.template
output = ${buildout:bin-directory}/test-readme
mode = 0755
input = inline:
    ${buildout:bin-directory}/py setup.py check -r -s
    ${buildout:bin-directory}/rst2html.py README.rst --strict 1> /dev/null && echo 'valid readme' || echo 'invalid readme'


[test]
recipe = collective.recipe.template
output = ${buildout:bin-directory}/test
mode = 0755
input = inline:
    ${buildout:bin-directory}/py -m unittest
